body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

header {
  background: #27cbf8;
  color: rgb(10, 6, 13);
  padding: 1rem;
  text-align: center;
}

nav a {
  color: rgb(193, 20, 20);
  margin: 0 1rem;
  text-decoration: none;
}

section {
  padding: 2rem;
}

footer {
  background: #27cbf8;
  text-align: center;
  padding: 1rem;
  font-size: 0.9em;
}